
services:
  api:
    build: .
    container_name: ecommerce
    ports:
      - "8888:8888"
    environment:
      - MONGO_URL=mongodb://mongo:27017/ecommerce
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo:7
    container_name: ecommerce_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data:
